.u-section-1 .u-sheet-1 {
  min-height: 402px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 614px;
  margin: 32px auto 0;
}

.u-section-1 .u-table-1 {
  width: 820px;
  margin: 38px auto 0;
}

.u-block-e4c3-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-block-e4c3-93 {
  height: 46px;
}

.u-block-e4c3-94 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
}

.u-block-e4c3-96 {
  background-image: none;
  font-weight: 700;
}

.u-block-e4c3-147 {
  background-image: none;
  font-weight: 700;
}

.u-block-e4c3-97 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
  text-transform: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-5 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-6 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  padding: 10px 67px 11px 66px;
}

.u-block-e4c3-35 {
  background-image: none;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  margin: 24px auto 0;
  padding: 14px 38px 15px 37px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  margin: 20px auto 20px 0;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 5px;
  }
}